<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>

<header
  class="site-navbar py-4 js-sticky-header site-navbar-target sticky-fixed"
  role="banner"
>
  <div class="container">
    <div class="d-flex align-items-center">
      <div class="site-logo">
        <a href="{{ .Site.BaseURL }}../../index.html" class="d-block">
          <img
            loading="lazy"
            src="{{ .Site.BaseURL }}../../images/logo-1.svg"
            alt="Image"
            class="img-fluid"
          />
          <span>CShopmate</span>
        </a>
      </div>
      <div class="mr-auto">
        <nav
          class="site-navigation position-relative text-right"
          role="navigation"
        >
          <ul class="site-menu main-menu js-clone-nav mr-auto d-lg-block">
            <li>
              <a
                href="{{ .Site.BaseURL }}../../index.html"
                class="nav-link text-left"
                >首页</a
              >
            </li>
            <li>
              <a
                href="{{ .Site.BaseURL }}../../products"
                class="nav-link text-left"
                >产品</a
              >
            </li>
            <li>
              <a
                href="{{ .Site.BaseURL }}../../cases"
                class="nav-link text-left"
                >案例</a
              >
            </li>
            <li class="active">
              <a href="{{ .Site.BaseURL }}../../blog" class="nav-link text-left"
                >干货</a
              >
            </li>

            <li>
              <a
                href="{{ .Site.BaseURL }}../../contact"
                class="nav-link text-left"
                >联系我们</a
              >
            </li>
            <li>
              <a
                href="{{ .Site.BaseURL }}../../about"
                class="nav-link text-left"
                >关于我们</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
